body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #d72222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url('back2.jpg');
    background-size: 100% 800px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;

}

.slider{
    width: 100%;
    border: 1px solid red;
    height: var(--height);
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .slide{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s/ var(--quantity) ) *(var(--position) - 1));
}
.slider .list .slide img{
    width: 100%;
}

@keyframes autoRun {
    from{
        left:100% ;
    }to{
        left: calc(var(--width) * -1);
    }
    
}
.slider:hover .slide{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .slide:hover{
    filter: grayscale(0);

}

.featured-artists{
    color: #ddd;
}

.artist-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.artist-card {
    background-color: #e2dddd ;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:black;
}

.artist-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.music-player {
    background-color: #f4dcdc;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    color: black;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-info img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 15px;
}

.controls button {
    background-color: #b91d1d;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.controls button:hover {
    background-color: #b91d1d;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
} 